<Settings>
  <SMTPServer>!localhost</SMTPServer>
  <DefaultEmailSender>case-tracker-demo-no-reply@sample.org</DefaultEmailSender>
  <Sudoer>
    <User>create-dba-user</User>
    <Password>dba-user-password</Password>
  </Sudoer>
  <Media>
    <Allow>
      <Category>account</Category>
    </Allow>
    <Debug>
      <Category>reminders</Category>
      <Category>account</Category>
      <Category>workflow</Category>
      <Category>action</Category>
    </Debug>
  </Media>
  <Hold>
    <Allow>admin</Allow>
  </Hold>
  <Module>
    <Name>reminders</Name>
    <Property>
      <Key>enabled</Key>
      <Value>off</Value>
    </Property>
    <Property>
      <Key>default-email-reply-to</Key>
      <Value>case-tracker-demo@sample.org</Value>
    </Property>
  </Module>
  <Module>
    <Name>login</Name>
    <Property>
      <Key>startref</Key>
      <Value>stage</Value>
    </Property>
  </Module>
</Settings>
